/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    background-color: #ddd;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-input-element {
    color: #000000!important;
}
.mat-form-field.mat-focused.mat-form-field-label {
    color: #3a3e63!important;
}

.mat-form-field-appearance-fill .mat-form-field-underline::before {
    background-color: #3a3e63!important;
}

.mat-form-field-label{
    color: #3a3e63!important;
}
.mat-form-field-ripple {
    background-color: #3a3e63!important;
}
.mat-flat-button.mat-primary{
    background-color: #3a3e63!important;
}
.accordion .mat-form-field {
    width: -webkit-fill-available;
}
.accordion-item-body {
    padding: 10px!important;
}
.accordion-item-header {
    padding: 10px 5px 0px 10px!important;
}