.box{
    padding: 25px;
    margin: 15px;
    background-color: white;
    border-radius: 5px;
  }

.title{
  font-size: 20px;
  display: flex;
  border-bottom: 1px solid #cdcdcd;
  margin: 0 0 10px 0;
  padding: 0 0 5px 0;
  align-items: center;
  justify-content: space-between;

  .mat-icon-button{
    width: auto;
  }
}