<h1 mat-dialog-title>Criar novo contato</h1>
<div mat-dialog-content>
  <p>Nome:</p>
  <mat-form-field appearance="fill">
    <mat-label>Nome</mat-label>
    <input matInput [(ngModel)]="data.nome">
  </mat-form-field>
</div>
<div mat-dialog-content>
    <p>Sobrenome</p>
    <mat-form-field appearance="fill">
      <mat-label>Sobrenome</mat-label>
      <input matInput [(ngModel)]="data.sobrenome">
    </mat-form-field>
  </div>
  <div mat-dialog-content>
    <p>Empresa</p>
    <mat-form-field appearance="fill">
      <mat-label>Empresa</mat-label>
      <input matInput [(ngModel)]="data.empresa">
    </mat-form-field>
  </div>
  <div mat-dialog-content>
    <p>Cargo</p>
    <mat-form-field appearance="fill">
      <mat-label>Cargo</mat-label>
      <input matInput [(ngModel)]="data.cargo">
    </mat-form-field>
  </div>
<div mat-dialog-actions>
  <button mat-flat-button color="warn" (click)="onNoClick()">Cancelar</button>
  <button mat-flat-button color="primary" [mat-dialog-close]="data" cdkFocusInitial>Confirmar</button>
</div>
